.side-bar {
    width: 16rem;
    height: 110vh;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background-color: #FFFFFF;
    padding: 1rem;
    padding-top: 2.6rem;
    position: fixed;
    top: 5rem;
    left: 0;
}


.dashboard-item {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.8rem 1rem;
  background-color: #FFFFFF;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.dashboard-item:hover {
  background-color: #e1e8ed;
  transform: translateY(-2px);
}

/* ICON */
.dashboard-icon {
  font-size: 1.5rem;
  color: #4a4a4a;
}

/* NAME */
.dashboard-name {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
}
