.user-post-container {
    width: 55rem;
    height: 12rem;
    border: 1px solid #E0E0E0;
    /* softer professional border */
    display: flex;
    padding: 1rem;
    flex-direction: column;
    gap: 4.3rem;
    margin-top: 8rem;
    margin-left: -3rem;
    background: #FFFFFF;
    /* clean background */
    border-radius: 12px;
    /* smooth corners */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    /* subtle professional shadow */
    box-sizing: border-box;
}



.search-bar {
    width: 100%;
    max-width: 39rem;
    height: 3rem;
    background-color: #DEEBF1;
    border-radius: 8px;
    /* clean rounded edges */
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0 0.8rem;
    /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);  */
    box-sizing: border-box;
    margin-top: 0.7rem;
    border: 1px solid #cbd9df;
    /* subtle sharp edge */
}

.search-input {
    flex: 1;
    width: 40rem;
    height: 70%;
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: #DEEBF1;
    padding-left: 0.3rem;
    border-radius: 4px;
    font-weight: 500;
}


.user-image {
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
    margin-top: .8rem;
}

.user-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

/* media  on userpostcontainer*/
.media-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -1rem;
    padding: 0.8rem 1rem;
    border-radius: 10px;
}

/* ICONS */
.media-icons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    cursor: pointer;
    font-size: 1.3rem;
    color: #4A4A4A;
    transition: 0.2s ease;


}


/* BUTTON */
.post-btn {
    padding: 0.5rem 1.2rem;
    background: #0A84FF;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 0.95rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s ease;
}

.post-btn:hover {
    background: #006FE6;
}