* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: inherit;
}

/* rgb(222, 235, 241) */